@model IEnumerable<ProjetoAgenda.Models.Telefone>

<form class="form-horizontal">
    <h3>Telefones</h3>
    <hr />
        <div class="form-group">
            <label class="control-label col-md-2">Telefone</label>
            <div class="col-md-10">
                <input type="text" id="Telefone" name="Telefone" class="form-control" />
            </div>
        </div>
    <br />
    <div class="form-group">        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="#" onclick="Salvar();">Gravar</a>
            </div>
        </div>
    </div>
<input type="hidden" id="idContato" value="@ViewBag.Contato"/>

<table class="table table-striped table-bordered table-hover">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTelefone)
            </th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var linha = "tr" + item.Id;

            <tr id="@linha">
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroTelefone)
                </td>
                <td class="text-center">
                    <a href="#" onclick="telefones.excluir(@item.Id);"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</form>